.navbar{
    margin-bottom: 0%;
}
.jumbotron {
    height: 500px;
    display: flex;
    align-items: center;
}
.app-row{
    margin: 36px;
}
.app-link{
    margin-right: 12px;
}
.app-image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-image{
    height: 200px;
}

.skills-section{
    display: flex;
    justify-content: center;
}

.tech-logo{
    height: 100px;
    margin: 24px;
}
.social-icons{
    display: flex;
    justify-content: center;

}
.social-icon{
    margin: 26px;
}